services:
  app:
    entrypoint: |
      bash -c  "prisma migrate dev --schema database/schema.prisma && \
      pip install watchdog &&  \
      uvicorn app.main:app --reload --port 8000 --host 0.0.0.0 && \
      watchmedo auto-restart --directory=./ --pattern=database/schema.prisma --recursive -- prisma generate --schema database/schema.prisma"
    volumes:
      - "./:/code/"
    environment:
      DEBUG: True